body {
  background: #f1f1f1;
  height: 100vh;
}

.form {
  position: relative;
}

.form .fa-search {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #9ca3af;
}

.form-input {
  height: 55px;
  text-indent: 10px;
  border-radius: 10px;
}

.form-input:focus {
  border-color: #5a12365a;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #5a12366d;
}
/*////////////////////////////////////////////////////////////////*/
/* color interfaz*/
.bg-primary,
.btn-primary {
  background-color: #fdfdfd !important;
}
/*/////////////////////////////////////////////////////*/
/*colores del boton que sellecciona iniciar sesion*/
.btn-primary:is(:hover, :active, :focus) {
  background-color: #5a1236d3 !important;
  color: #0d0d0d !important;
}

.f-12{
  font-size: 12px;
}

.mt-8{
  margin-top: 8rem;
}

html,body {
  height: 100%;
}
/*//////////////////////////////////////////////////////////*/
/* logo o bueno escudo*/
.my-login-page .brand {
  width: 200px;
  height: auto;
  overflow: hidden;
  border-radius: 15%;
  margin: 40px auto;
  box-shadow: 0 4px 8px rgba(0,0,0,.05);/*sombra alrededor del logo*/
  position: relative;
  z-index: 1;
  border: 5px solid blue;
}

.my-login-page .brand img {
  width: 100%;
}

.my-login-page .card-wrapper {
  width: 400px;
}
/*/////////////////////////////////////////////////////////////*/
.my-login-page .card {
  border-radius: 15%;
  box-shadow: 0 4px 8px rgba(0,0,0,.05);
  border: 5px solid rgb(5, 128, 24);
   background: #0f9f38;
}

.my-login-page .card.fat {
  padding: 10px;
}

.my-login-page .card .card-title {
  margin-bottom: 30px;
}

.my-login-page .form-control {
  border-width: 2.3px;
}

.my-login-page .form-group label {
  width: 100%;
}

.my-login-page .btn.btn-block {
  padding: 12px 10px;
}
/*//////////////////////////////////////////////////*/
/*color del copyright*/
.my-login-page .footer {
  margin: 40px 0;
  color: #161a1d;
  text-align: center;
}

@media screen and (max-width: 425px) {
  .my-login-page .card-wrapper {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .my-login-page .card.fat {
    padding: 0;
  }

  .my-login-page .card.fat .card-body {
    padding: 15px;

  }
}

#curp::-webkit-calendar-picker-indicator {
  display: none !important;
}
#name::-webkit-calendar-picker-indicator {
  display: none !important;
}

.vh-50 {
  height: 50vh!important;
}

/* Header IPN */
.navbar {
  padding: 0;
}
/*//////////////////////////////////////////////////////////*/
/*color de la barra de gobierno arriba*/
#barraGobmx2 {
  background: #611232;
}
#barraGobmx2 a{
  color: #fff;
  font-size: 16px;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}
.svg-inline--fa.fa-w-16 {
  width: 1em;
}

/* Footer IPN */
.piePagina {
  position: relative;
}
.bg--grisOscuro, .ubicacion {
  background: #333;
  color: #fff;
}
.bg--grisOscuro .container {
  padding-block: 35px;
}
/*//////////////////////////////////////////////////////////*/
/*color del apartado gobierno info*/
.main-footer .list-info {
  background-color: #611232;
  padding: 30px 0 70px;
}
/*color de las letras de la info de gobierno de la parte de abajo */
.main-footer h5 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 300;
  margin-top: 12.5px;
  margin-bottom: 12.5px;
  font-family: inherit;
  line-height: 1.1;
}
.main-footer .list-info a,
.main-footer .list-info p{
  color: #ffffff;
  font-size: 12px;
}
.main-footer .list-info ul {
  margin: 0 0 60px;
  padding: 0;
}
.main-footer .list-info ul li {
  list-style-type: none;
  margin: 0 0 2px;
  padding: 0;
  line-height: 1.6;
}
.main-footer .list-info ul li a {
  color: #ffffff;
  text-decoration: underline;
  font-size: 12px;
}
/*////////////////////////////////////////////////////////////*/
/*color de la placa donde esta la pegatina de flores en el interfaz*/
.footer-pleca {
  background-color: #9bcd1d;
  background-image: url(https://ipn.mx/assets/files/main/img/template/pleca.svg);
  background-repeat: repeat-x;
}

#plantillas{

  background: #ffffff; 
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 33.3%;
  border-radius: 30px;
  padding: 20px;
  width: 33.3%;

}

.sombra{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.boton{
  display: inline-block;
  padding: 10px 20px;
  background-color: #125a2ad3 !important;
  color: #fff !important;
  text-decoration: none;
  border-radius: 5px;
  width: 150px;
  margin: 0 auto;
}

.alert{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#anuncios {
    width: 90%;
    background-color: rgba(0, 0, 0, 0.1); 
    border-radius: 20px;
    border: 0px;
    margin: 0 auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    margin-top: 20px;
    color: black;
}

#anuncios tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

#anuncios tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1); 
}

#anuncios td, #anuncios th {
    border-bottom: 1px solid rgb(0, 0, 0); 
    padding: 10px; 
    color: rgb(0, 0, 0); 
}

#anuncios th {
    background-color: #5a1236;
    font-weight: bold;
    color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.name-input{
  height: 55px;
  text-indent: 10px;
  border-radius: 10px;
  border-width: 2.3px;
}

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading-spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*PLANTA 5*/
