body {
  background: #f1f1f1;
  height: 100vh;
}
/*////////////////////////////////////////////////////////////*/
/*imagen encabezado*/
#barraGobmx2 {
   height: 250px;
  background-image: url("../img/ENCABEZADO.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/*color del Texto de la parte superior encabezado gobierno*/
#barraGobmx2 a{
  color: #ffff;
  font-size: 16px;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
   position: relative;
    top: -99px;
}
.svg-inline--fa.fa-w-16 {
  width: 1em;
}
/*////////////////////////////////////////////////////////////*/
/*Fondo principal de la pagina */
html,body {
  margin: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/ESIME.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; /* opcional */
}
/*////////////////////////////////////////////////////////////*/
/* Footer IPN */
.piePagina {
  position: relative;
  height: 190px;
  background-image: url("../img/GRISGOB2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.form {
  position: relative;
}
/*//////////////////////////////////////////////////////////*/
/*color del apartado gobierno info*/
.main-footer .list-info {
    background-color: #611232;
    height: 320px;
    padding: 25px 0 30px;
    box-sizing: border-box;
}
.logo_footer {
    max-width: 55%;
    height: auto;
    position: relative;
    top: 40px;
    left: 60px;
}
/* esta es con la imegen pero sale muy pixeleda las letras
.main-footer .list-info {
    position: relative;
    height: 340px;
    background-image: url("../img/GUINDA.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}*/
/*////////////////////////////////////////////////////////////*/
/*color de la placa donde esta la pegatina de flores en el interfaz*/
.footer-pleca {
    height: 50px;
    padding: 0;
    margin: 0;
    background-image: url("../img/FLORES.jpg");
    background-size: auto 50px;
    background-position: center;
    background-repeat: repeat-x;
}
/*////////////////////////////////////////////////////////////*/
/*color de las letras de la info de gobierno de la parte de abajo */
.main-footer h5 { /* letras en negritas por ejemplo Enlaces:*/
    color: #ffffff;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 19px;
    font-weight: 700;
}
.main-footer h5.enlace-denuncia a {
    color: #ffffff !important;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 17px !important;
    font-weight: 700 !important;
    line-height: 1.25 !important;
    text-decoration: underline !important;
}
.main-footer .list-info {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.main-footer .list-info a,
.main-footer .list-info p{
  color: #ffffff;
  font-size: 12px;
}
.main-footer .list-info ul {
  margin: 0 0 60px;
  padding: 0;
}
.main-footer .list-info ul li {
  list-style-type: none;
  margin: 0 0 2px;
  padding: 0;
  line-height: 1.6;
}
.main-footer .list-info ul li a { /* el sub-rayado*/
  color: #f3eded;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  font-size: 16px;
   line-height: 2.5;
}
/* es el apartado de LEER MAS: */
.main-footer p {
    font-size: 16px !important;
}
.main-footer p a {
    color: #ffffff;
    font-size: 16px !important;
    text-decoration: underline!important;
}
/*////////////////////////////////////////////////////////////////*/
/* color interfaz*/
.bg-primary,
.btn-primary {
  background-image: #bfb9b9; 
}
/*/////////////////////////////////////////////////////*/
/*colores del boton que selecciona iniciar sesion*/
.btn-primary:is(:hover, :active, :focus) {
  background-color: #5a1236d3 !important;
  color: #0d0d0d !important;
}

.f-12{
  font-size: 12px;
}

.mt-8{
  margin-top: 8rem;
}

.my-login-page .brand img {
  width: 100%;
}

.my-login-page .card-wrapper {
  width: 400px;
}
/*/////////////////////////////////////////////////////////////*/
.my-login-page .card {
 
    box-shadow: 0 4px 8px rgba(40, 253, 3, 0.05);

    background-image: url("../img/FORMULARIO.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.my-login-page .card.fat {
  padding: 10px;
}

.my-login-page .card .card-title {
  margin-bottom: 30px;
}

.my-login-page .form-control {
  border-width: 2.3px;
}

.my-login-page .form-group label {
  width: 100%;
}

.my-login-page .btn.btn-block {
  padding: 12px 10px;
}
/*//////////////////////////////////////////////////*/
/*color del copyright*/
.my-login-page .footer {
  margin: 40px 0;
  color: #161a1d;
  text-align: center;
}

@media screen and (max-width: 425px) {
  .my-login-page .card-wrapper {
    width: 90%;
    margin: 0 auto;
  }
}

@media screen and (max-width: 320px) {
  .my-login-page .card.fat {
    padding: 0;
  }

  .my-login-page .card.fat .card-body {
    padding: 15px;

  }
}

#curp::-webkit-calendar-picker-indicator {
  display: none !important;
}
#name::-webkit-calendar-picker-indicator {
  display: none !important;
}

.vh-50 {
  height: 50vh!important;
}

/* Header IPN */
.navbar {
  padding: 0;
}




#plantillas{

  background: #ffffff; 
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 33.3%;
  border-radius: 30px;
  padding: 20px;
  width: 33.3%;

}

.sombra{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

.boton{
  display: inline-block;
  padding: 10px 20px;
  background-color: #125a2ad3 !important;
  color: #fff !important;
  text-decoration: none;
  border-radius: 5px;
  width: 150px;
  margin: 0 auto;
}

.alert{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

#anuncios {
    width: 90%;
    background-color: rgba(0, 0, 0, 0.1); 
    border-radius: 20px;
    border: 0px;
    margin: 0 auto; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
    margin-top: 20px;
    color: black;
}

#anuncios tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.05);
}

#anuncios tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.1); 
}

#anuncios td, #anuncios th {
    border-bottom: 1px solid rgb(0, 0, 0); 
    padding: 10px; 
    color: rgb(0, 0, 0); 
}

#anuncios th {
    background-color: #5a1236;
    font-weight: bold;
    color: white;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.name-input{
  height: 55px;
  text-indent: 10px;
  border-radius: 10px;
  border-width: 2.3px;
}

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

#loading-spinner {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*Verificar si sirve=*

/*HOLA MUNDO*/
/*////////////////////////////////////////////////////////////////*/
/* esto es lo que emos eliminado en el codigo de prueba 
.bg--grisOscuro, .ubicacion {
  background: #333;
  color: #fff;
}
.bg--grisOscuro .container {
  padding-block: 35px;
}*/
/* logo o bueno escudo que estaba en el sicah*/
/*.my-login-page .brand {
  width: 200px;
  height: auto;
  overflow: hidden;
  border-radius: 15%;
  margin: 40px auto;
  box-shadow: 0 4px 8px rgba(0,0,0,.05);
  position: relative;
  z-index: 1;
  border: 5px solid blue;
}

.form .fa-search {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #9ca3af;
}

.form-input {
  height: 55px;
  text-indent: 10px;
  border-radius: 10px;
}

.form-input:focus {
  border-color: #5a12365a;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #5a12366d;
}
*/


